/* Museo Sans Rounded Font Face */
@font-face {
  font-family: 'Museo Sans Rounded';
  src: url('/fonts/museo/MuseoSansRounded100.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Museo Sans Rounded';
  src: url('/fonts/museo/MuseoSansRounded300.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Museo Sans Rounded';
  src: url('/fonts/museo/MuseoSansRounded500.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Museo Sans Rounded';
  src: url('/fonts/museo/MuseoSansRounded700.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Museo Sans Rounded';
  src: url('/fonts/museo/MuseoSansRounded900.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Museo Sans Rounded';
  src: url('/fonts/museo/MuseoSansRounded1000.woff2') format('woff2');
  font-weight: 1000;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Museo Sans Rounded', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
